<!DOCTYPE html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Amicaruokis</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <!--<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" />-->

        <link rel="stylesheet" href="css/styles.css">
        <!-- Load the script "js/main.js" as our entry point -->
        <script data-main="js/main" src="js/libs/require.js"></script>
    </head>
	<body>
        <div class="header">

        </div>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-1 dropdown language">
                    <button class="language-btn btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        <span class="item">language</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="language-dropdown-menu dropdown-menu json-lang-menu"></ul>
                </div>
                
                <div class="col-xs-2 dropdown restaurants">
                    <button class="restaurant-btn btn btn-default dropdown-toggle" type="button" id="dropdownMenuRestaurants" data-toggle="dropdown">
                        <span class="item">restaurant</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="restaurant-dropdown-menu dropdown-menu json-menu scrollable-menu"></ul>
                </div>
                
                <!-- Useless for now
                <div class='col-sm-2'>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" data-date-format="YYYY-MM-DD" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                -->

                <div class="col-xs-2">
                    <div class="input-group restaurant" id="restaurant">
                        <input type="text" id="restaurantPageId" title="Ravintolan numerokoodi" placeholder="Ravintolakoodi" class="form-control" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default getMenu">Hae</button>
                        </span>
                    </div>
                </div>
                
            </div>

            <div class="row">
                <div class="menus"></div>
            </div>
        </div>
        
        <div class="footer">
            Tehnyt <a href="https://twitter.com/walokra">@walokra</a>, data: <a href="http://www.amica.fi">Amica</a>. Sivusto ei ole mitenkään sidoksissa Amicaan.
        </div>
        
        <script type="text/template" id="tpl-header">
            <h1><a href="index.html">Amicaruokis - <%= ShortTitle %></%></a></h1>
            <p><%= StreetAddress %>, <%= PostalCode %> <%= City %></p>
        </script>
        
        <script type="text/template" id="tpl-day">
            <h3 class="title toggle"><%= weekDay %> (<%= date %>)</h3>
        </script>
            
        <!-- Templates -->            
        <script type="text/template" id="tpl-menus">
            <% //console.log(Html); %>
            <%= Html %>
        </script>
            
	</body>
</html>